@font-face {
    font-family: HitMePunk;
    src: url(fonts/hit-me-punk.12.ttf) format(truetype);
}

/* Van me eigen portfolio code gepakt rumeysademirci.com */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Voor header en nav heb ik gebruik gemaakt van Chatgpt, voor het positioneren */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #C1B59C;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30%;
    height: 30%;
}

nav ul {
    list-style: none;
    display: flex; 
}

nav ul li a {
    text-decoration: none;
    font-family: HitMePunk;
    font-size: 2rem;
    padding: 2rem;
    color: black;
}


nav ul li a:hover {
    text-decoration: underline;
    color: #B02F37;
}

/* data banner */
.data {
    background-color:#B02F37;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 0.5em 0em;
}

.data h2{
    font-family: HitMePunk;
    font-size: 2rem;
}

/* recente aflevering */
/* links-rechts divjes van me eigen portfolio: rumeysademirci.com */
#links {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    background-color: #C1B59C;
    text-align: center;
    height: 50vh;
}

#links img {
    width: 80%;
    height: 65%;
    padding-top: 2em;
}

#rechts {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 60%;
    background-color: #C1B59C;
    height: 50vh;
}

#rechts h2 {
    font-family: HitMePunk;
    font-size: 2rem;
    padding-top: 2em;
    color: #B02F37;
}

#links2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    background-color: #C1B59C;
    text-align: center;
    height: 50vh;
}

#links2 video {
    width: 80%;
    height: 65%;
    padding-top: 2em;
}

#rechts2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 60%;
    background-color: #C1B59C;
    height: 50vh;
}

#rechts2 h2 {
    font-family: HitMePunk;
    font-size: 2rem;
    padding-top: 2em;
    color: #B02F37;
}

/* over ons */

.us {
    background-color: #C1B59C;
    height: 100%;
}

.usinfo {
    background-color: #B02F37;
    margin-bottom: 2em;
    margin-left: 15em;
    width: 70%;
    border-radius: 2em;
    display: flex;
    gap: 20px;
}

.us img {
    width: 20%;
    height: 22%;
    border-radius: 2em;
}

.overons {
    width: 100vw;
    height: 50vh;
    background-color:#B02F37 ;
    justify-content: center;
    text-align: center;
}

.overons h2 {
    font-family: HitMePunk;
    font-size: 2rem;
    padding-top: 2em;
}

.tekst {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 2em;
}

/* footer */
footer{
    background-color: #C1B59C;
    text-align: center;
    padding: 1em 0em 1em 0em;

}
footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #B02F37;
}

footer img {
    height: 2%;
    width: 2%;
    
}

/* afleveringen,pagina */

.afleveringenbanner {
    width: 100vw;
    height: 50%;
    background-color: black;
    justify-content: center;
}

.afleveringenbanner h1 {
    color: #B02F37;
    font-family: HitMePunk;
    text-align: center;
}

.afleveringenbanner h2 {
    color: #B02F37;
    font-family: HitMePunk;
    text-align: center;
}

.afleveringencontent {
    background-color: #C1B59C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box1 {
    width: 35%;
    height: 35%;
    
}

.landingsfoto {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.landingsfoto1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.recenteaflevering {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #C1B59C
}


/* contact */

.contact {
    width: 100vw;
    height: 50vh;
    display: flex;
    background-color:black ;
}

/* buttons */
button {
    background-color: black;
    color: #B02F37;
    padding: 2em 2em 2em 2em;
    margin-top: 2em;
    margin-right: 2em;
    border: none;
    text-align: center;
    border-radius: 1em;
    font-size: 1em;
}

button:hover {
    background-color: #C1B59C;
    color: #B02F37;
    font-family: HitMePunk;
    font-size: larger;
    box-shadow: 0 0.5em 1em 1em #B02F37;
}

